.head-nav{
   display: flex;
   justify-content: space-between;
   padding-top: 34px;
}
.st-nav , .nd-nav{
    /* nav bar 1st and middle part */
     display: flex;
    }
    .nd-nav{
        /* ul nav style */
        gap: 40px;
        list-style: none;
    }

.st-image{
    /* nav bar 1st image */
    width: 50px;
height: 50px;
padding-left: 140px;
}
.nav-btn{
    /* nav bar button */
    margin-right: 140px;
    width: 177px;
height: 40px;
border-radius: 12px;
/* Orange */
background: rgba(239, 154, 7, 0.756);
border: none;

}
.nav-paraone{
    /* nav bar HOME section work */
    font-size: 20px;
font-weight: 700;
color: rgb(254, 163, 1);
text-decoration: none;
}
.nav-paratwo{
/*  nav bar About section work */
    font-size: 20px;
font-weight: 500;
color: rgb(1, 172, 253);
text-decoration: none;
}
.nav-parathree{
    /* nav bar Facilities section */
    font-size: 20px;
font-weight: 500;
color: rgb(5, 212, 223);
text-decoration: none;
}
.nav-parafour{
    font-size: 20px;
font-weight: 500;
color: rgb(93, 88, 239);
text-decoration: none;
}
.hamburger-btn{
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
   cursor: pointer;
}


.banner-nav{
    /* whole banner section  */
    display: flex;
   
    gap: 250px;
}
.banner-para{
    /* banner paragraph section */
    padding-left: 140px;
    padding-top: 122px;
}
.banner-paraone{
    /*  banner pera one section */
 font-family: Quicksand;
font-size: 56px;
font-weight: 700;
}
/* banner-paraone section color elements */
.paraone-color{
color: rgb(254, 163, 1);
}
.paratwo-color{
    color: rgb(1, 172, 253);
}
.btn-banner{
    margin-right: 140px;
    width: 177px;
height: 40px;
border-radius: 12px;
background-color: black;
color: white;
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
border: none;
}
.banner-compo{
    font-family: Quicksand;
font-size: 20px;
font-weight: 400;
color: rgb(17, 17, 17);
opacity: 0.9;
}
.img-banner{
    padding-right: 140px;
}



@media screen and (max-width:576px){
  
    .hamburger-btn {
        display: block;
        max-width: 50%;
        }
     .nav-heading{
            display: none;
        }
        .nav-btn{
            display: none;
        }
        .nd-nav {
            display: none; 
           
        }
        
            .st-image{
                padding-left: 15px;
     }
     .head-nav{
        display: grid;
        grid-template-columns: repeat(2,1fr);
     }
     .banner-nav{
        /* full banner one line */
        flex-direction: column-reverse;
     }
     .banner-para{
        max-width: 60%;
     margin-top: -350px;
       padding-left: 0%;
       text-align: center;
       
      
     }
     .banner-paraone{
        font-family: Quicksand;
font-size: 36px;
font-weight: 700;
     }
     .img-banner{
       
        max-width: 60%;
        width: 333px;
       
     }
     .btn-banner{
    margin-left: 20%;
    
     }

}